// -- IMPORTS

@import 'senselogic-flow/src/reset.styl';
@import 'senselogic-flow/src/constant.styl';
@import 'senselogic-flow/src/mixin.styl';

// -- CLASSES

defineColorClass( 'red', 'red' );
defineColorClasses( 'green', 'green', 300 500 );
defineMarginTopClasses( 100 );
defineFontSizeClasses( 200 );
defineFontWeightClasses( 700 );
