// -- IMPORTS

//@import 'senselogic-flow/src/reset.styl';
//@import 'senselogic-flow/src/constant.styl';
//@import 'senselogic-flow/src/mixin.styl';
//@import 'senselogic-flow/src/class.styl';

@import '../../src/reset.styl';
@import '../../src/constant.styl';
@import '../../src/mixin.styl';
@import '../../src/class.styl';

// -- CLASSES

:root
{
    font-family: primaryFontFamily;
}

defineDisplayClasses( 'flex' );
defineGapClasses( 100 );
defineColorClass( 'red', 'red' );
defineColorClasses( 'green', 'green', 300 500 );
defineMarginTopClasses( 100 );
defineFontSizeClasses( 200 );
defineFontWeightClasses( 700 );
