// -- IMPORTS

//@import 'senselogic-flow/class.styl';
@import '../../CODE/JAVASCRIPT/class.styl';
//@import 'senselogic-flow/DatePicker.styl';
@import '../../CODE/JAVASCRIPT/DatePicker.styl';
//@import 'senselogic-flow/ValuePicker.styl';
@import '../../CODE/JAVASCRIPT/ValuePicker.styl';

// -- CLASSES

defineDisplayClasses( flex inline-block );
defineFlexDirectionClasses( column );
defineGapClasses( 50 100 );
defineMarginTopClasses( 100 );
defineSizeClasses( 100 150 200 250 );
defineHeightClasses( 100 150 200 250 );
defineWidthClasses( 100 150 200 250 );
definePaddingClasses( 100 );
definePaddingLateralMediaClasses( 200, small medium large xlarge xxlarge );
defineBackgroundColorClass( 'red', 'red' );
defineIconClass( map-pin, '/image/icon/map_pin.svg' );
defineColorIconClass( green-map-pin, greenColor, '/image/icon/map_pin.svg' );
defineColorIconClass( green-300-map-pin, greenColor300, '/image/icon/map_pin.svg' );
defineFontSizeClasses( 80 100 150 200 250 300 );
defineFontWeightClasses( 500 700 900 );
defineColorClass( 'red', 'red' );
defineColorClasses( 'green', 'green', 300 500 );
defineColorHoverClasses( 'green', 'green', 500 );

// ~~

.date-picker
{
    container-type: inline-size;

    justify-content: center;

    overflow: auto;
}

@container ( max-width: 36em )
{
    .date-picker .calendar:nth-child(2),
    .date-picker .calendar:nth-child(3)
    {
        display: none;
    }
}

@container ( max-width: 54em )
{
    .date-picker
    {
        display: flex;
        justify-content: center;
    }

    .date-picker .calendar:nth-child(3)
    {
        display: none;
    }
}
