// -- CONSTANTS

greenColor = #195955;

// -- IMPORTS

//@import 'senselogic-flow/src/constant.styl';
@import '../../CODE/JAVASCRIPT/src/constant.styl';

// -- CONSTANTS

mediaQueryMap[ 'tablet' ] = "(min-width: 45em)";
mediaQueryMap[ 'desktop' ] = "(min-width: 65em)";
