.multi-select
{
    position: relative;

    box-sizing: border-box;
    width: 100%;
    border: 1px solid grayColor700;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.multi-select-selected-option-list
{
    margin-bottom: 0.5rem;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.multi-select-selected-option
{
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;

    display: flex;
    gap: 0.5rem;
    align-items: center;

    background-color: grayColor700;

    font-size: 1rem;
}

.multi-select-selected-option button
{
    border: none;

    background: none;

    font-size: 1rem;

    cursor: pointer;
}

.multi-select-dropdown
{
    display: none;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;

    overflow-y: auto;
    max-height: 16rem;
    width: 100%;
    border: 1px solid grayColor700;
    border-radius: 0.5rem;

    background-color: grayColor900;
}


.multi-select-dropdown.is-open
{
    display: block;
}

.multi-select-available-option
{
    padding: 0.5rem;

    cursor: pointer;
}

.multi-select-available-option:hover
{
    background-color: grayColor800;
}

.multi-select-input
{
    outline: none;
    border: none;
    padding: 0.5rem;

    font-size: 1rem;
    width: auto;

    flex-grow: 1;
    min-width: 0;
}

.multi-select-toggle-button
{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 0;

    flex-shrink: 0;
}
