.list-view-panel
{
    flex-direction: row;
}

.video-view
{
    height: 80px;
    width: 80px;
    border-width: 1px;
    border-color: #FFFF00;
}

.play-video-button
{
    position: absolute;

    background-color: #00FF00;
}

.pause-video-button
{
    position: absolute;

    background-color: #FF0000;
}

.grid-view-panel
{
}
