// -- IMPORTS

//@import 'senselogic-flow/class.styl';
@import '../../PACKAGE/class.styl';
//@import 'senselogic-flow/DatePicker.styl';
@import '../../PACKAGE/DatePicker.styl';
//@import 'senselogic-flow/SortableList.styl';
@import '../../PACKAGE/SortableList.styl';
//@import 'senselogic-flow/Switch.styl';
@import '../../PACKAGE/Switch.styl';
//@import 'senselogic-flow/ValuePicker.styl';
@import '../../PACKAGE/ValuePicker.styl';

// -- CLASSES

defineDisplayClasses( flex inline-block );
defineFlexDirectionClasses( column );
defineGapClasses( 50 100 );
defineMarginTopClasses( 100 );
defineSizeClasses( 100 150 200 250 );
defineHeightClasses( 100 150 200 250 );
defineWidthClasses( 100 150 200 250 );
definePaddingClasses( 100 );
definePaddingLateralMediaClasses( 200, small medium large xlarge xxlarge );
defineBackgroundColorClass( 'red', 'red' );
defineIconClass( map-pin, '/image/icon/map_pin.svg' );
defineColorIconClass( green-map-pin, greenColor, '/image/icon/map_pin.svg' );
defineColorIconClass( green-300-map-pin, greenColor300, '/image/icon/map_pin.svg' );
defineFontSizeClasses( 80 100 150 200 250 300 );
defineFontWeightClasses( 500 700 900 );
defineColorClass( 'red', 'red' );
defineColorClasses( 'green', 'green', 300 500 );
defineColorHoverClasses( 'green', 'green', 500 );

// ~~

.title
{
    font-size: 2rem;
    font-weight: 700;

    +media( tablet )
    {
        font-size: 2.5rem;
    }

    +media( desktop )
    {
        font-size: 3rem;
    }
}

.title.is-subtitle
{
    font-size: 1.5rem;
    font-weight: 500;

    +media( tablet )
    {
        font-size: 2rem;
    }

    +media( desktop )
    {
        font-size: 2.5rem;
    }
}

.date-picker
{
    container-type: inline-size;
    overflow: auto;

    justify-content: center;
}

@container ( max-width: 36em )
{
    .date-picker .calendar:nth-child(2),
    .date-picker .calendar:nth-child(3)
    {
        display: none;
    }
}

@container ( max-width: 54em )
{
    .date-picker
    {
        display: flex;
        justify-content: center;
    }

    .date-picker .calendar:nth-child(3)
    {
        display: none;
    }
}
