// -- CONSTANTS

greenColor = #195955;

// -- IMPORTS

//@import 'senselogic-flow/constant.styl';
@import '../../PACKAGE/constant.styl';

// -- CONSTANTS

mediaQueryMap[ 'tablet' ] = "(min-width: 45em)";
mediaQueryMap[ 'desktop' ] = "(min-width: 65em)";
