// -- IMPORTS

//@import 'senselogic-flow/element.styl';
@import '../../PACKAGE/element.styl';

// -- ELEMENTS

:root
{
    +media( tablet )
    {
        font-family: serif;
    }

    +media( desktop )
    {
        font-family: sans-serif;
    }
}

setRootFontSize( 1rem, 1.1rem 1.2rem 1.3rem 1.4rem, 90em 100em 110em 120em );
