// -- MIXINS

defineColorClasses( kebabColorName, camelColorName )

    .color-{ kebabColorName }
        color: lookup( camelColorName + 'Color' );

    for shadeIndex in ( 1 .. 19 )

        .color-{ kebabColorName }-{ shadeIndex * 50 }
            color: lookup( camelColorName + 'Color' + shadeIndex * 50 );

// -- CLASSES

.color-black
{
    color: blackColor;
}

.color-white
{
    color: whiteColor;
}

defineColorClasses( 'amber', 'amber' );
defineColorClasses( 'blue', 'blue' );
defineColorClasses( 'cyan', 'cyan' );
defineColorClasses( 'grey', 'grey' );
defineColorClasses( 'green', 'green' );
defineColorClasses( 'magenta', 'magenta' );
defineColorClasses( 'orange', 'orange' );
defineColorClasses( 'red', 'red' );
defineColorClasses( 'teal', 'teal' );
defineColorClasses( 'yellow', 'yellow' );
defineColorClasses( 'primary', 'primary' );
defineColorClasses( 'secondary', 'secondary' );
