// -- CLASSES

.menu-dropdown
{
    background-color: WhiteColor;
    border: 1px solid BorderColor;
}

.menu-dropdown-option
{
    padding: 0.5rem;
    border-bottom: 1px solid BorderColor;
}

.input
{
    border: 1px solid BorderColor;
    padding: 0.5rem;
}

.email-input
{
    border: 1px solid BorderColor;
    padding: 0.5rem;
}

.search-input
{
    border: 1px solid BorderColor;
    padding: 0.5rem;
    position: relative;
}

.search-input-icon
{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.select
{
    border: 1px solid BorderColor;
}

.select-option
{
    padding: 0.5rem;
}

.range-slider
{
    -webkit-appearance: none;
    width: 100%;
    background: GrayColor700;
}

.range-slider-handle
{
    -webkit-appearance: none;
    background: #666;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.range-slider-handle-icon
{
    position: absolute;
    top: 0;
    left: 0;
}

.date-input
{
    border: 1px solid BorderColor;
    padding: 0.5rem;
}

.date-input-icon
{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.time-input
{
    border: 1px solid BorderColor;
    padding: 0.5rem;
}

.checkbox-input
{
}

.checkbox-input-icon
{
}

.radio-button-input
{
}

.radio-button-icon
{
}

.switch-input
{
}

.accordeon
{
}

.accordeon-content
{
}

.card
{
    border: 1px solid BorderColor;
    padding: 1rem;
    border-radius: 0.5rem;
}

.progress-bar
{
    background: GrayColor700;
    height: 1rem;
    width: 100%;
}

.bullet-point-list
{
}

.bullet-point-element
{
}

.button
{
    background: PrimaryColor;
    color: WhiteColor;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.outline-button
{
    background: transparent;
    border: 1px solid PrimaryColor;
    color: PrimaryColor;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.animated-loading-icon
{
    border: 0.25rem solid GrayColor700;
    border-top-color: PrimaryColor;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 1s linear infinite;
}

@keyframes spin
{
    100%
    {
        transform: rotate( 360deg );
    }
}
