// -- CONSTANTS

blackColor ?= #000000;
whiteColor ?= #FFFFFF;

greyColor ?= #9E9E9E;
greyColor50 ?= darken( greyColor, 90% );
greyColor100 ?= darken( greyColor, 80% );
greyColor150 ?= darken( greyColor, 70% );
greyColor200 ?= darken( greyColor, 60% );
greyColor250 ?= darken( greyColor, 50% );
greyColor300 ?= darken( greyColor, 40% );
greyColor350 ?= darken( greyColor, 30% );
greyColor400 ?= darken( greyColor, 20% );
greyColor450 ?= darken( greyColor, 10% );
greyColor500 ?= greyColor;
greyColor550 ?= lighten( greyColor, 10% );
greyColor600 ?= lighten( greyColor, 20% );
greyColor650 ?= lighten( greyColor, 30% );
greyColor700 ?= lighten( greyColor, 40% );
greyColor750 ?= lighten( greyColor, 50% );
greyColor800 ?= lighten( greyColor, 60% );
greyColor850 ?= lighten( greyColor, 70% );
greyColor900 ?= lighten( greyColor, 80% );
greyColor950 ?= lighten( greyColor, 90% );

amberColor ?= #FBBF24;
amberColor50 ?= darken( amberColor, 90% );
amberColor100 ?= darken( amberColor, 80% );
amberColor150 ?= darken( amberColor, 70% );
amberColor200 ?= darken( amberColor, 60% );
amberColor250 ?= darken( amberColor, 50% );
amberColor300 ?= darken( amberColor, 40% );
amberColor350 ?= darken( amberColor, 30% );
amberColor400 ?= darken( amberColor, 20% );
amberColor450 ?= darken( amberColor, 10% );
amberColor500 ?= amberColor;
amberColor550 ?= lighten( amberColor, 10% );
amberColor600 ?= lighten( amberColor, 20% );
amberColor650 ?= lighten( amberColor, 30% );
amberColor700 ?= lighten( amberColor, 40% );
amberColor750 ?= lighten( amberColor, 50% );
amberColor800 ?= lighten( amberColor, 60% );
amberColor850 ?= lighten( amberColor, 70% );
amberColor900 ?= lighten( amberColor, 80% );
amberColor950 ?= lighten( amberColor, 90% );

blueColor ?= #2196F3;
blueColor50 ?= darken( blueColor, 90% );
blueColor100 ?= darken( blueColor, 80% );
blueColor150 ?= darken( blueColor, 70% );
blueColor200 ?= darken( blueColor, 60% );
blueColor250 ?= darken( blueColor, 50% );
blueColor300 ?= darken( blueColor, 40% );
blueColor350 ?= darken( blueColor, 30% );
blueColor400 ?= darken( blueColor, 20% );
blueColor450 ?= darken( blueColor, 10% );
blueColor500 ?= blueColor;
blueColor550 ?= lighten( blueColor, 10% );
blueColor600 ?= lighten( blueColor, 20% );
blueColor650 ?= lighten( blueColor, 30% );
blueColor700 ?= lighten( blueColor, 40% );
blueColor750 ?= lighten( blueColor, 50% );
blueColor800 ?= lighten( blueColor, 60% );
blueColor850 ?= lighten( blueColor, 70% );
blueColor900 ?= lighten( blueColor, 80% );
blueColor950 ?= lighten( blueColor, 90% );

cyanColor ?= #00BCD4;
cyanColor50 ?= darken( cyanColor, 90% );
cyanColor100 ?= darken( cyanColor, 80% );
cyanColor150 ?= darken( cyanColor, 70% );
cyanColor200 ?= darken( cyanColor, 60% );
cyanColor250 ?= darken( cyanColor, 50% );
cyanColor300 ?= darken( cyanColor, 40% );
cyanColor350 ?= darken( cyanColor, 30% );
cyanColor400 ?= darken( cyanColor, 20% );
cyanColor450 ?= darken( cyanColor, 10% );
cyanColor500 ?= cyanColor;
cyanColor550 ?= lighten( cyanColor, 10% );
cyanColor600 ?= lighten( cyanColor, 20% );
cyanColor650 ?= lighten( cyanColor, 30% );
cyanColor700 ?= lighten( cyanColor, 40% );
cyanColor750 ?= lighten( cyanColor, 50% );
cyanColor800 ?= lighten( cyanColor, 60% );
cyanColor850 ?= lighten( cyanColor, 70% );
cyanColor900 ?= lighten( cyanColor, 80% );
cyanColor950 ?= lighten( cyanColor, 90% );

grayBorderColor ?= #3B82F6;
grayBorderColor50 ?= darken( grayBorderColor, 90% );
grayBorderColor100 ?= darken( grayBorderColor, 80% );
grayBorderColor150 ?= darken( grayBorderColor, 70% );
grayBorderColor200 ?= darken( grayBorderColor, 60% );
grayBorderColor250 ?= darken( grayBorderColor, 50% );
grayBorderColor300 ?= darken( grayBorderColor, 40% );
grayBorderColor350 ?= darken( grayBorderColor, 30% );
grayBorderColor400 ?= darken( grayBorderColor, 20% );
grayBorderColor450 ?= darken( grayBorderColor, 10% );
grayBorderColor500 ?= grayBorderColor;
grayBorderColor550 ?= lighten( grayBorderColor, 10% );
grayBorderColor600 ?= lighten( grayBorderColor, 20% );
grayBorderColor650 ?= lighten( grayBorderColor, 30% );
grayBorderColor700 ?= lighten( grayBorderColor, 40% );
grayBorderColor750 ?= lighten( grayBorderColor, 50% );
grayBorderColor800 ?= lighten( grayBorderColor, 60% );
grayBorderColor850 ?= lighten( grayBorderColor, 70% );
grayBorderColor900 ?= lighten( grayBorderColor, 80% );
grayBorderColor950 ?= lighten( grayBorderColor, 90% );

greenColor ?= #10B981;
greenColor50 ?= darken( greenColor, 90% );
greenColor100 ?= darken( greenColor, 80% );
greenColor150 ?= darken( greenColor, 70% );
greenColor200 ?= darken( greenColor, 60% );
greenColor250 ?= darken( greenColor, 50% );
greenColor300 ?= darken( greenColor, 40% );
greenColor350 ?= darken( greenColor, 30% );
greenColor400 ?= darken( greenColor, 20% );
greenColor450 ?= darken( greenColor, 10% );
greenColor500 ?= greenColor;
greenColor550 ?= lighten( greenColor, 10% );
greenColor600 ?= lighten( greenColor, 20% );
greenColor650 ?= lighten( greenColor, 30% );
greenColor700 ?= lighten( greenColor, 40% );
greenColor750 ?= lighten( greenColor, 50% );
greenColor800 ?= lighten( greenColor, 60% );
greenColor850 ?= lighten( greenColor, 70% );
greenColor900 ?= lighten( greenColor, 80% );
greenColor950 ?= lighten( greenColor, 90% );

magentaColor ?= #F700F7;
magentaColor50 ?= darken( magentaColor, 90% );
magentaColor100 ?= darken( magentaColor, 80% );
magentaColor150 ?= darken( magentaColor, 70% );
magentaColor200 ?= darken( magentaColor, 60% );
magentaColor250 ?= darken( magentaColor, 50% );
magentaColor300 ?= darken( magentaColor, 40% );
magentaColor350 ?= darken( magentaColor, 30% );
magentaColor400 ?= darken( magentaColor, 20% );
magentaColor450 ?= darken( magentaColor, 10% );
magentaColor500 ?= magentaColor;
magentaColor550 ?= lighten( magentaColor, 10% );
magentaColor600 ?= lighten( magentaColor, 20% );
magentaColor650 ?= lighten( magentaColor, 30% );
magentaColor700 ?= lighten( magentaColor, 40% );
magentaColor750 ?= lighten( magentaColor, 50% );
magentaColor800 ?= lighten( magentaColor, 60% );
magentaColor850 ?= lighten( magentaColor, 70% );
magentaColor900 ?= lighten( magentaColor, 80% );
magentaColor950 ?= lighten( magentaColor, 90% );

orangeColor ?= #FF9800;
orangeColor50 ?= darken( orangeColor, 90% );
orangeColor100 ?= darken( orangeColor, 80% );
orangeColor150 ?= darken( orangeColor, 70% );
orangeColor200 ?= darken( orangeColor, 60% );
orangeColor250 ?= darken( orangeColor, 50% );
orangeColor300 ?= darken( orangeColor, 40% );
orangeColor350 ?= darken( orangeColor, 30% );
orangeColor400 ?= darken( orangeColor, 20% );
orangeColor450 ?= darken( orangeColor, 10% );
orangeColor500 ?= orangeColor;
orangeColor550 ?= lighten( orangeColor, 10% );
orangeColor600 ?= lighten( orangeColor, 20% );
orangeColor650 ?= lighten( orangeColor, 30% );
orangeColor700 ?= lighten( orangeColor, 40% );
orangeColor750 ?= lighten( orangeColor, 50% );
orangeColor800 ?= lighten( orangeColor, 60% );
orangeColor850 ?= lighten( orangeColor, 70% );
orangeColor900 ?= lighten( orangeColor, 80% );
orangeColor950 ?= lighten( orangeColor, 90% );

redColor ?= #EF4444;
redColor50 ?= darken( redColor, 90% );
redColor100 ?= darken( redColor, 80% );
redColor150 ?= darken( redColor, 70% );
redColor200 ?= darken( redColor, 60% );
redColor250 ?= darken( redColor, 50% );
redColor300 ?= darken( redColor, 40% );
redColor350 ?= darken( redColor, 30% );
redColor400 ?= darken( redColor, 20% );
redColor450 ?= darken( redColor, 10% );
redColor500 ?= redColor;
redColor550 ?= lighten( redColor, 10% );
redColor600 ?= lighten( redColor, 20% );
redColor650 ?= lighten( redColor, 30% );
redColor700 ?= lighten( redColor, 40% );
redColor750 ?= lighten( redColor, 50% );
redColor800 ?= lighten( redColor, 60% );
redColor850 ?= lighten( redColor, 70% );
redColor900 ?= lighten( redColor, 80% );
redColor950 ?= lighten( redColor, 90% );

tealColor ?= #14B8A6;
tealColor50 ?= darken( tealColor, 90% );
tealColor100 ?= darken( tealColor, 80% );
tealColor150 ?= darken( tealColor, 70% );
tealColor200 ?= darken( tealColor, 60% );
tealColor250 ?= darken( tealColor, 50% );
tealColor300 ?= darken( tealColor, 40% );
tealColor350 ?= darken( tealColor, 30% );
tealColor400 ?= darken( tealColor, 20% );
tealColor450 ?= darken( tealColor, 10% );
tealColor500 ?= tealColor;
tealColor550 ?= lighten( tealColor, 10% );
tealColor600 ?= lighten( tealColor, 20% );
tealColor650 ?= lighten( tealColor, 30% );
tealColor700 ?= lighten( tealColor, 40% );
tealColor750 ?= lighten( tealColor, 50% );
tealColor800 ?= lighten( tealColor, 60% );
tealColor850 ?= lighten( tealColor, 70% );
tealColor900 ?= lighten( tealColor, 80% );
tealColor950 ?= lighten( tealColor, 90% );

yellowColor ?= #FFEB3B;
yellowColor50 ?= darken( yellowColor, 90% );
yellowColor100 ?= darken( yellowColor, 80% );
yellowColor150 ?= darken( yellowColor, 70% );
yellowColor200 ?= darken( yellowColor, 60% );
yellowColor250 ?= darken( yellowColor, 50% );
yellowColor300 ?= darken( yellowColor, 40% );
yellowColor350 ?= darken( yellowColor, 30% );
yellowColor400 ?= darken( yellowColor, 20% );
yellowColor450 ?= darken( yellowColor, 10% );
yellowColor500 ?= yellowColor;
yellowColor550 ?= lighten( yellowColor, 10% );
yellowColor600 ?= lighten( yellowColor, 20% );
yellowColor650 ?= lighten( yellowColor, 30% );
yellowColor700 ?= lighten( yellowColor, 40% );
yellowColor750 ?= lighten( yellowColor, 50% );
yellowColor800 ?= lighten( yellowColor, 60% );
yellowColor850 ?= lighten( yellowColor, 70% );
yellowColor900 ?= lighten( yellowColor, 80% );
yellowColor950 ?= lighten( yellowColor, 90% );

primaryColor ?= blueColor;
primaryColor50 ?= darken( primaryColor, 90% );
primaryColor100 ?= darken( primaryColor, 80% );
primaryColor150 ?= darken( primaryColor, 70% );
primaryColor200 ?= darken( primaryColor, 60% );
primaryColor250 ?= darken( primaryColor, 50% );
primaryColor300 ?= darken( primaryColor, 40% );
primaryColor350 ?= darken( primaryColor, 30% );
primaryColor400 ?= darken( primaryColor, 20% );
primaryColor450 ?= darken( primaryColor, 10% );
primaryColor500 ?= primaryColor;
primaryColor550 ?= lighten( primaryColor, 10% );
primaryColor600 ?= lighten( primaryColor, 20% );
primaryColor650 ?= lighten( primaryColor, 30% );
primaryColor700 ?= lighten( primaryColor, 40% );
primaryColor750 ?= lighten( primaryColor, 50% );
primaryColor800 ?= lighten( primaryColor, 60% );
primaryColor850 ?= lighten( primaryColor, 70% );
primaryColor900 ?= lighten( primaryColor, 80% );
primaryColor950 ?= lighten( primaryColor, 90% );

secondaryColor ?= orangeColor;
secondaryColor50 ?= darken( secondaryColor, 90% );
secondaryColor100 ?= darken( secondaryColor, 80% );
secondaryColor150 ?= darken( secondaryColor, 70% );
secondaryColor200 ?= darken( secondaryColor, 60% );
secondaryColor250 ?= darken( secondaryColor, 50% );
secondaryColor300 ?= darken( secondaryColor, 40% );
secondaryColor350 ?= darken( secondaryColor, 30% );
secondaryColor400 ?= darken( secondaryColor, 20% );
secondaryColor450 ?= darken( secondaryColor, 10% );
secondaryColor500 ?= secondaryColor;
secondaryColor550 ?= lighten( secondaryColor, 10% );
secondaryColor600 ?= lighten( secondaryColor, 20% );
secondaryColor650 ?= lighten( secondaryColor, 30% );
secondaryColor700 ?= lighten( secondaryColor, 40% );
secondaryColor750 ?= lighten( secondaryColor, 50% );
secondaryColor800 ?= lighten( secondaryColor, 60% );
secondaryColor850 ?= lighten( secondaryColor, 70% );
secondaryColor900 ?= lighten( secondaryColor, 80% );
secondaryColor950 ?= lighten( secondaryColor, 90% );

blueBorderColor ?= blueColor700;
blueBorderColor50 ?= darken( blueBorderColor, 90% );
blueBorderColor100 ?= darken( blueBorderColor, 80% );
blueBorderColor150 ?= darken( blueBorderColor, 70% );
blueBorderColor200 ?= darken( blueBorderColor, 60% );
blueBorderColor250 ?= darken( blueBorderColor, 50% );
blueBorderColor300 ?= darken( blueBorderColor, 40% );
blueBorderColor350 ?= darken( blueBorderColor, 30% );
blueBorderColor400 ?= darken( blueBorderColor, 20% );
blueBorderColor450 ?= darken( blueBorderColor, 10% );
blueBorderColor500 ?= blueBorderColor;
blueBorderColor550 ?= lighten( blueBorderColor, 10% );
blueBorderColor600 ?= lighten( blueBorderColor, 20% );
blueBorderColor650 ?= lighten( blueBorderColor, 30% );
blueBorderColor700 ?= lighten( blueBorderColor, 40% );
blueBorderColor750 ?= lighten( blueBorderColor, 50% );
blueBorderColor800 ?= lighten( blueBorderColor, 60% );
blueBorderColor850 ?= lighten( blueBorderColor, 70% );
blueBorderColor900 ?= lighten( blueBorderColor, 80% );
blueBorderColor950 ?= lighten( blueBorderColor, 90% );

grayBorderColor ?= grayColor700;
grayBorderColor50 ?= darken( grayBorderColor, 90% );
grayBorderColor100 ?= darken( grayBorderColor, 80% );
grayBorderColor150 ?= darken( grayBorderColor, 70% );
grayBorderColor200 ?= darken( grayBorderColor, 60% );
grayBorderColor250 ?= darken( grayBorderColor, 50% );
grayBorderColor300 ?= darken( grayBorderColor, 40% );
grayBorderColor350 ?= darken( grayBorderColor, 30% );
grayBorderColor400 ?= darken( grayBorderColor, 20% );
grayBorderColor450 ?= darken( grayBorderColor, 10% );
grayBorderColor500 ?= grayBorderColor;
grayBorderColor550 ?= lighten( grayBorderColor, 10% );
grayBorderColor600 ?= lighten( grayBorderColor, 20% );
grayBorderColor650 ?= lighten( grayBorderColor, 30% );
grayBorderColor700 ?= lighten( grayBorderColor, 40% );
grayBorderColor750 ?= lighten( grayBorderColor, 50% );
grayBorderColor800 ?= lighten( grayBorderColor, 60% );
grayBorderColor850 ?= lighten( grayBorderColor, 70% );
grayBorderColor900 ?= lighten( grayBorderColor, 80% );
grayBorderColor950 ?= lighten( grayBorderColor, 90% );

greenBorderColor ?= greenColor700;
greenBorderColor50 ?= darken( greenBorderColor, 90% );
greenBorderColor100 ?= darken( greenBorderColor, 80% );
greenBorderColor150 ?= darken( greenBorderColor, 70% );
greenBorderColor200 ?= darken( greenBorderColor, 60% );
greenBorderColor250 ?= darken( greenBorderColor, 50% );
greenBorderColor300 ?= darken( greenBorderColor, 40% );
greenBorderColor350 ?= darken( greenBorderColor, 30% );
greenBorderColor400 ?= darken( greenBorderColor, 20% );
greenBorderColor450 ?= darken( greenBorderColor, 10% );
greenBorderColor500 ?= greenBorderColor;
greenBorderColor550 ?= lighten( greenBorderColor, 10% );
greenBorderColor600 ?= lighten( greenBorderColor, 20% );
greenBorderColor650 ?= lighten( greenBorderColor, 30% );
greenBorderColor700 ?= lighten( greenBorderColor, 40% );
greenBorderColor750 ?= lighten( greenBorderColor, 50% );
greenBorderColor800 ?= lighten( greenBorderColor, 60% );
greenBorderColor850 ?= lighten( greenBorderColor, 70% );
greenBorderColor900 ?= lighten( greenBorderColor, 80% );
greenBorderColor950 ?= lighten( greenBorderColor, 90% );

orangeBorderColor ?= orangeColor700;
orangeBorderColor50 ?= darken( orangeBorderColor, 90% );
orangeBorderColor100 ?= darken( orangeBorderColor, 80% );
orangeBorderColor150 ?= darken( orangeBorderColor, 70% );
orangeBorderColor200 ?= darken( orangeBorderColor, 60% );
orangeBorderColor250 ?= darken( orangeBorderColor, 50% );
orangeBorderColor300 ?= darken( orangeBorderColor, 40% );
orangeBorderColor350 ?= darken( orangeBorderColor, 30% );
orangeBorderColor400 ?= darken( orangeBorderColor, 20% );
orangeBorderColor450 ?= darken( orangeBorderColor, 10% );
orangeBorderColor500 ?= orangeBorderColor;
orangeBorderColor550 ?= lighten( orangeBorderColor, 10% );
orangeBorderColor600 ?= lighten( orangeBorderColor, 20% );
orangeBorderColor650 ?= lighten( orangeBorderColor, 30% );
orangeBorderColor700 ?= lighten( orangeBorderColor, 40% );
orangeBorderColor750 ?= lighten( orangeBorderColor, 50% );
orangeBorderColor800 ?= lighten( orangeBorderColor, 60% );
orangeBorderColor850 ?= lighten( orangeBorderColor, 70% );
orangeBorderColor900 ?= lighten( orangeBorderColor, 80% );
orangeBorderColor950 ?= lighten( orangeBorderColor, 90% );

redBorderColor ?= redColor700;
redBorderColor50 ?= darken( redBorderColor, 90% );
redBorderColor100 ?= darken( redBorderColor, 80% );
redBorderColor150 ?= darken( redBorderColor, 70% );
redBorderColor200 ?= darken( redBorderColor, 60% );
redBorderColor250 ?= darken( redBorderColor, 50% );
redBorderColor300 ?= darken( redBorderColor, 40% );
redBorderColor350 ?= darken( redBorderColor, 30% );
redBorderColor400 ?= darken( redBorderColor, 20% );
redBorderColor450 ?= darken( redBorderColor, 10% );
redBorderColor500 ?= redBorderColor;
redBorderColor550 ?= lighten( redBorderColor, 10% );
redBorderColor600 ?= lighten( redBorderColor, 20% );
redBorderColor650 ?= lighten( redBorderColor, 30% );
redBorderColor700 ?= lighten( redBorderColor, 40% );
redBorderColor750 ?= lighten( redBorderColor, 50% );
redBorderColor800 ?= lighten( redBorderColor, 60% );
redBorderColor850 ?= lighten( redBorderColor, 70% );
redBorderColor900 ?= lighten( redBorderColor, 80% );
redBorderColor950 ?= lighten( redBorderColor, 90% );

primaryBorderColor ?= blueBorderColor;
primaryBorderColor50 ?= darken( primaryBorderColor, 90% );
primaryBorderColor100 ?= darken( primaryBorderColor, 80% );
primaryBorderColor150 ?= darken( primaryBorderColor, 70% );
primaryBorderColor200 ?= darken( primaryBorderColor, 60% );
primaryBorderColor250 ?= darken( primaryBorderColor, 50% );
primaryBorderColor300 ?= darken( primaryBorderColor, 40% );
primaryBorderColor350 ?= darken( primaryBorderColor, 30% );
primaryBorderColor400 ?= darken( primaryBorderColor, 20% );
primaryBorderColor450 ?= darken( primaryBorderColor, 10% );
primaryBorderColor500 ?= primaryBorderColor;
primaryBorderColor550 ?= lighten( primaryBorderColor, 10% );
primaryBorderColor600 ?= lighten( primaryBorderColor, 20% );
primaryBorderColor650 ?= lighten( primaryBorderColor, 30% );
primaryBorderColor700 ?= lighten( primaryBorderColor, 40% );
primaryBorderColor750 ?= lighten( primaryBorderColor, 50% );
primaryBorderColor800 ?= lighten( primaryBorderColor, 60% );
primaryBorderColor850 ?= lighten( primaryBorderColor, 70% );
primaryBorderColor900 ?= lighten( primaryBorderColor, 80% );
primaryBorderColor950 ?= lighten( primaryBorderColor, 90% );

secondaryBorderColor ?= orangeBorderColor;
secondaryBorderColor50 ?= darken( secondaryBorderColor, 90% );
secondaryBorderColor100 ?= darken( secondaryBorderColor, 80% );
secondaryBorderColor150 ?= darken( secondaryBorderColor, 70% );
secondaryBorderColor200 ?= darken( secondaryBorderColor, 60% );
secondaryBorderColor250 ?= darken( secondaryBorderColor, 50% );
secondaryBorderColor300 ?= darken( secondaryBorderColor, 40% );
secondaryBorderColor350 ?= darken( secondaryBorderColor, 30% );
secondaryBorderColor400 ?= darken( secondaryBorderColor, 20% );
secondaryBorderColor450 ?= darken( secondaryBorderColor, 10% );
secondaryBorderColor500 ?= secondaryBorderColor;
secondaryBorderColor550 ?= lighten( secondaryBorderColor, 10% );
secondaryBorderColor600 ?= lighten( secondaryBorderColor, 20% );
secondaryBorderColor650 ?= lighten( secondaryBorderColor, 30% );
secondaryBorderColor700 ?= lighten( secondaryBorderColor, 40% );
secondaryBorderColor750 ?= lighten( secondaryBorderColor, 50% );
secondaryBorderColor800 ?= lighten( secondaryBorderColor, 60% );
secondaryBorderColor850 ?= lighten( secondaryBorderColor, 70% );
secondaryBorderColor900 ?= lighten( secondaryBorderColor, 80% );
secondaryBorderColor950 ?= lighten( secondaryBorderColor, 90% );
