// -- MIXINS

defineDisplayClasses( valueArray )

    for value in valueArray
        .display-{ value }
            display: unquote( value );

// ~~

defineFlexDirectionClasses( valueArray )

    for value in valueArray
        .flex-direction-{ value }
            flex-direction: unquote( value );

// ~~

defineJustifyContentClasses( valueArray )

    for value in valueArray
        .justify-content-{ value }
            justify-content: unquote( value );

// ~~

defineJustifySelfClasses( valueArray )

    for value in valueArray
        .justify-self-{ value }
            justify-self: unquote( value );

// ~~

defineAlignItemsClasses( valueArray )

    for value in valueArray
        .align-items-{ value }
            align-items: unquote( value );

// ~~

defineAlignSelfClasses( valueArray )

    for value in valueArray
        .align-self-{ value }
            align-self: unquote( value );

// ~~

defineGapClasses( valueArray )

    for value in valueArray
        .gap-{ value }
            gap: value * 0.01rem;

// ~~

defineRowGapClasses( valueArray )

    for value in valueArray
        .row-gap-{ value }
            row-gap: value * 0.01rem;

// ~~

defineColumnGapClasses( valueArray )

    for value in valueArray
        .column-gap-{ value }
            column-gap: value * 0.01rem;

// ~~

defineMarginClasses( valueArray )

    for value in valueArray
        .margin-{ value }
            margin: value * 0.01rem;

// ~~

defineMarginTopClasses( valueArray )

    for value in valueArray
        .margin-top-{ value }
            margin-top: value * 0.01rem;

// ~~

defineMarginBottomClasses( valueArray )

    for value in valueArray
        .margin-bottom-{ value }
            margin-bottom: value * 0.01rem;

// ~~

defineMarginLeftClasses( valueArray )

    for value in valueArray
        .margin-left-{ value }
            margin-left: value * 0.01rem;

// ~~

defineMarginRightClasses( valueArray )

    for value in valueArray
        .margin-right-{ value }
            margin-right: value * 0.01rem;

// ~~

definePaddingClasses( valueArray )

    for value in valueArray
        .padding-{ value }
            padding: value * 0.01rem;

// ~~

definePaddingTopClasses( valueArray )

    for value in valueArray
        .padding-top-{ value }
            padding-top: value * 0.01rem;

// ~~

definePaddingBottomClasses( valueArray )

    for value in valueArray
        .padding-bottom-{ value }
            padding-bottom: value * 0.01rem;

// ~~

definePaddingLeftClasses( valueArray )

    for value in valueArray
        .padding-left-{ value }
            padding-left: value * 0.01rem;

// ~~

definePaddingRightClasses( valueArray )

    for value in valueArray
        .padding-right-{ value }
            padding-right: value * 0.01rem;

// ~~

defineTextAlignClasses( valueArray )

    for value in valueArray
        .text-align-{ value }
            text-align: unquote( value );

// ~~

defineFontSizeClasses( valueArray )

    for value in valueArray
        .font-size-{ value }
            font-size: value * 0.01rem;

// ~~

defineFontWeightClasses( valueArray )

    for value in valueArray
        .font-weight-{ value }
            font-weight: value;

// ~~

defineColorClass( className, colorName )

    .color-{ className }
        color: lookup( colorName + 'Color' );

// ~~

defineColorClasses( className, colorName, valueArray )

    for value in valueArray
        .color-{ className }-{ value }
            color: lookup( colorName + 'Color' + value );
// ~~

defineBorderWidthClasses( valueArray )

    for value in valueArray
        .border-width-{ value }
            border-width: value * 0.01rem;

// ~~

defineBorderStyleClasses( valueArray )

    for value in valueArray
        .border-style-{ value }
            border-style: value;

// ~~

defineBorderColorClass( className, colorName )

    .border-color-{ className }
        border-color: lookup( colorName + 'Color' );

// ~~

defineBorderColorClasses( className, colorName, valueArray )

    for value in valueArray
        .border-color-{ className }-{ value }
            border-color: lookup( colorName + 'Color' + value );
// ~~

defineBorderRadiusClasses( valueArray )

    for value in valueArray
        .border-radius-{ value }
            border-radius: value * 0.01rem;
// ~~

defineCursorClasses( valueArray )

    for value in valueArray
        .cursor-{ value }
            cursor: value;


