// -- ELEMENTS

*
{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;

    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
}

*:before,
*:after
{
    box-sizing: inherit;
}

html
{
    font-size: 16px;
}

ol,
ul
{
    list-style: none;
}

body
{
    line-height: 1.5;
}

article,
aside,
footer,
header,
nav,
section,
main
{
    display: block;
}

img,
picture,
video,
canvas,
svg
{
    height: auto;
    max-width: 100%;
    border-style: none;

    display: block;
}

input,
button,
textarea,
select
{
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6
{
    overflow-wrap: break-word;
}

a,
a:visited
{
    text-decoration: none;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before
{
    content: "";
    content: none;
}

[hidden]
{
    display: none !important;
}

[disabled]
{
    cursor: not-allowed;
}

:focus:not(:focus-visible)
{
    outline: none;
}
