// -- CLASSES

.value-picker
{
    position: relative;

    user-select: none;
}

.value-picker .track
{
    position: absolute;
    top: 0.5rem;
    transform: translateY( -50% );

    height: 0.5rem;
    width: 100%;
    border-radius: 0.25rem;

    background: valuePickerTrackBackgroundColor;
}

.value-picker .frame
{
    position: relative;

    margin-right: 1rem;
    height: 1rem;
}

.value-picker .range
{
    position: absolute;
    top: 0.5rem;
    transform: translate( 0.5rem, -50% );

    height: 0.5rem;
    border-radius: 0.25rem;

    background: valuePickerRangeBackgroundColor;
}

.value-picker .slider
{
    position: absolute;
    top: 0.5rem;
    transform: translateY( -50% );

    height: 1rem;
    width: 1rem;
    border: 2px solid valuePickerSliderBorderColor;
    border-radius: 50%;

    background: valuePickerSliderBackgroundColor;

    cursor: pointer;
}

.value-picker .legend
{
    width: 100%;

    display: flex;
    justify-content: space-between;

    color: valuePickerLegendColor;
}
